# This is Git's per-user configuration file.
[user]
	email = k@kalli.no
	name = 181192
[alias]
	fr = !git fetch && git rebase
	frp = !git fetch && git rebase && git push
	adog = log --all --decorate --oneline --graph
[format]
	pretty = full

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[credential]
	helper = store
