# This is Git's per-user configuration file.
[user]
	email = Kristoffer-Andre.Kalliainen@stacc.com
	name = Kristoffer-Andre Kalliainen
[alias]
	fr = !git fetch && git rebase
	frp = !git fetch && git rebase && git push
	adog = log --all --decorate --oneline --graph
[format]
	pretty = full
